@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);
@import url(https://unpkg.com/jquery@3.4.1/dist/jquery.js);
@import url(https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js);
html{
  height: 100%;
}

body{
  font-family: 'Source Sans Pro' , sans-serif;
  background-color: #1C2228;
  color: #f7fff7;
  height: 100%;
}

a{
  color: #44a4cd;
}

a:hover {
  color: #44a8cf;
}

.shadow{
  box-shadow: 0 8px 12 px rgba(0,0,0,0.2), 0 5 6px;
}

.section-container{
  padding: 30px;
}
